html {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
* {
//   border: 1px green solid;
}
header {
  background-color: gray;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: space-between;

  div#DCInterest,
  nav {
    margin: 5px 20px 5px 20px;
  }

  div#DCInterest {
    display: flex;
    align-items: center;
    align-content: center;
    * {
      margin: 0px 5px 0px 5px;
    }
    h1 {
      vertical-align: middle;
      font-size: 1rem;
      display: inline;
    }
  }

  nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    li {
      margin: 5px;
    }
  }
}

main {
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 50px 20px 50px 20px;
  overflow: scroll;

  img {
    width: 200px;
  }
  .row-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    .item {
      height: 100%;
      width: 200px;
      margin: 10px;
      position: relative;

      h1 {
        position: absolute;
        top: 0;
        font-size: 1rem;
        color: white;
        padding: 10px;
        margin: 0;
      }
    }
  }
}
